<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"></meta>
    <title>footer</title>
</head>
<body>
<footer th:fragment="footer" class="footer">
  <div class="row">
    <div class="col-lg-6">
      <p>Copyright©2020 </p>
    </div>
    <div class="col-lg-3"></div>
    <div class="col-lg-3">
    	<div>联系我们:</div>
    	<div class="icon_url"><i class="fa fa-weixin fa-fw"></i> wjd921014</div>
    	<div class="icon_url"><i class="fa fa-qq fa-fw"></i> 468073105</div>
		<div class="icon_url"><i class="fa fa-phone fa-fw"></i> 18782207486</div>
	</div>
  </div>
</footer>
</body>
</html>