<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorate="layout">
<head>
	<meta charset="utf-8">
	<title>毕业设计商城</title>
</head>

<style>

</style>

<body>
<div layout:fragment="content" >
	<div class="row">
		<div class="column side">
		</div>
  
		<div class="column middle">
	    	<div>
			    <h2>本站简介</h2>
			    <p>
			    	本站成立于2012年,历经多年的发展,现已成为国内较为大型的毕业设计(论文)服务机构.是专业的毕业设计(论文)服务平台,
			    	网站拥有一支实力雄厚的毕业设计(论文)队伍,为客户提供精湛,快速,专业,全面的毕业设计(论文)服务.
			    </p>
			    <p>
				       众多成品资料展示可体现出本站的实力.大网站,重信誉,本站现有全职员工20人,并且拥有兼职工作人员50多人.
					本网站上刊登的成品只是部分介绍和大纲,如需完整的请在线购买.
			    </p>
			</div>
		    <div>
			    <h2>业务范围</h2>
			    <p>各类web项目,支持多种编程语言(Java,PHP,.Net)</p>
			    <p>手机app开发业务.</p>
		    </div>
	    	<div>
	    		<h2>联系我们</h2>
	    	 	 <div class="icon_ul">
					<a style="background: #49c42d;" href="#" class="icon_cicle" title="微信:18782207486"><i class="fa fa-weixin fa-fw"></i></a>
					<a style=" background: #106bbc;"href="3" class="icon_cicle" title="QQ:4680731055"><i class="fa fa-qq fa-fw"></i></a>
					<a style=" background: #42a4e1;" href="" class="icon_cicle" title="手机:18782207486"><i class="fa fa-phone fa-fw"></i></a>
				</div>
	    	</div>
	    	
		</div>
		<div class="column side">
		</div>
	</div>
</div>
</body>
</html>