<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout">
<head>
    <meta charset="UTF-8"></meta>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>layout</title>
   	<!-- Bootstrap -->
	<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/css/font-awesome.css}" rel="stylesheet" />
	<!-- Custom stylesheet -->
	<link rel="stylesheet" th:href="@{/css/main.css}"/>
</head>
<body>
  <div>
      <div th:replace="layout/header :: header"></div>
      <div layout:fragment="content" > content</div>
      <div th:replace="layout/footer :: footer"></div>
  </div>
</body>
</html>